@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap');

/*  My colour pallette:
Orange: #E04700 
Dark Orange: #BD5C30 
Green: #41E000
Dark Green: #3B8F18 
Blue: #000AE0
*/

body {
    font-family: 'Luckiest Guy', cursive;
    background-image: url("/images/Menu Background.png");
    background-position: center;
    backdrop-filter: blur(10px);
    width: 100vw;
    height: 100vh;
    margin: 0px;
}

h1 {
    font-size: 50px;
    z-index: 2;
}

/* Main menu screen */

#startDetails {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 80vh;
    text-align: center;
    z-index: 2;
}

input[type=submit], input[type=button] {
    font-family: 'Luckiest Guy', cursive; 
    font-size: 25px;
    border: 8px solid black;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
    z-index: 4;
} 

#campaign {
    background-color: #41E000;
    color: black;
    border: 8px solid #3B8F18;
}

#skirmish {
    background-color: #E04700;
    color: white;
    border: 8px solid #BD5C30;
}

#credits {
    background-color: #000AE0;
    color: white;
    border: 8px solid #000453;
}

/* the sideBar is a nav bar that sits on the right side of the screen and has a number of icons */
#sideBar {
    position: absolute;
    right: 0px;
    top: 0px;
    height: 100vh;
    width: 100px;
    background-color: rgb(227, 227, 227);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    z-index: 10;
    border-left: 3px;
    border-right: 0px;
    border-top: 0px;
    border-bottom: 0px;
    border-color: black;
    border-style: solid;
}

#stopBattle {
    z-index: 5;
    display: none;
}

/* Details of the item display box */
.itemDisplayContainer {
    display: flex;
    flex-grow: 1;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center; 
    align-items: flex-start; 
    max-height: 200px;
    width: auto;
}

.itemDisplayBox {
    display: flex;
    justify-content: space-between; 
    height: 50px;
    min-width: 40vw;
    margin: 10px;
    padding: 5px;
    
}

.itemDisplay {
    height: 100%;
    width: 100%;
    background-size: contain;
    background-repeat: no-repeat; 
    background-position: center;
}

/* details of terrain objects */

.terrain {
    position: absolute;
    background-color: white;
    background-image: url("./images/TreeTerrain.png");
    background-size: contain;
    background-repeat: no-repeat; 
    background-position: center;
    border: 2px solid darkblue;
    top: 400px;
    left: 600px;
    width: 200px;
    height: 200px;
    z-index: 2;
}

.circle {
    border-radius: 50%;
}


/* details of the items on the field */

.item {
    position: absolute;
    background-color: white;
    background-size: contain;
    background-repeat: no-repeat; 
    background-position: center; 
    height: 60px;
    width: 60px;
}

.paper { background-image: url("./images/paper.webp"); }
.scissors { background-image: url("./images/scissors.webp"); }
.rock { background-image: url("./images/rock.webp"); }
.paper.blue { background-image: url("./images/paperBlue.png"); }
.scissors.blue { background-image: url("./images/scissorsBlue.png"); }
.rock.blue { background-image: url("./images/rockBlue.png"); }
.paper.red { background-image: url("./images/paperRed.png"); }
.scissors.red { background-image: url("./images/scissorsRed.png"); }
.rock.red { background-image: url("./images/rockRed.png"); }